<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyAgenda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <img src="/static/img/logo.png" alt="logo">
    </div>
    <h1>Calendário</h1>
    <table class="center">
        <thead>
            <tr>
                <th scope="col">Domingo</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
            </tr>
            <tr>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
            </tr>
            <tr>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
            </tr>
            <tr>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>


        </tbody>
      </table>
    <br>
    <br>      
    <form action="lembrete" method="post">
        <h1>Novo lembrete</h1>
        <input type="text" name="title_input" placeholder="Digite o título">
        <br>
        <input type="date" name="date_input">
        <br>
        <input type="time" name="time_input">
        <br>
        <input type="submit" value="Criar lembrete" id="lembrete">
        <br>
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %}
        <br>
        <a href="/login" id="">DESCONECTAR</a>
    
    </form>
</body>
</html>